/* Overlay styles */
.center-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center; /* Center modal vertically and horizontally */
    z-index: 1500;
    overflow: hidden;
  }
  
  /* Modal animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.9);
    }
  }
  
  /* Modal content styles */
  .center-modal-content {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 10px 15px 0 rgba(0, 0,0, 0.25);
    animation: fadeIn 0.3s ease-out; /* Fade-in animation */
    width: 100%;
    max-width: 500px;
    @apply  rounded-lg ;
  }
  
  /* Slide-out class */
  .center-modal-content.slide-out {
    animation: fadeOut 0.3s ease-in;
  }
  
  /* Size variations */
  .center-modal-content-m {
    max-width: 600px;
  }
  
  .center-modal-content-l {
    max-width: 800px;
  }
  
  .center-modal-content-s {
    max-width: 400px;
  }
  
  /* Modal Header, Footer, and Button Styles */
  .center-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    /* border-bottom: 1px solid #e1e1e4; */
  }
  
  .center-modal-body {
    max-height: 70vh;
    overflow-y: auto;
    padding-top: 1rem;
  }
  
  .center-modal-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .center-modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding-top: 1rem;
    /* border-top: 1px solid #e1e1e4; */
  }
  
  .center-modal-button {
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    @apply bg-primary-400;
  }
  
  .center-modal-button.cancel-btn {
    @apply border rounded border-primary-400 text-primary-400 bg-white;
  }
  