.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  @apply bg-success;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3b8524;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translate(12px, -50%);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}
/* .ToggleSwitch_slider__AiS0U:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px ;
    bottom: 2px ;
    background-color: white;
    transition: .4s;
} */
.ToggleSwitch_switch__r6ZRS {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}
